<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <%- include('./includes/adminHeader'); %>

    <main class="agendaAdmin">
            <h1>Agenda</h1>

            <% agenda.forEach(item => { %> 
                <ul id="detalhes">
                    <section id="dados">
                        
                        NOME:<span><%= item.nome %></span>
                        DATA:<span><%= item.data %></span>
                        HORA:<span><%= item.hora %></span>
                        VALOR:<span><%= item.preco %></span>
                        Procedimento:<span><%= item.procedimento %></span>
                    </section>
                    <section id="manipulacao">
                        <a href="agenda/alterar/<%= item.id%>"><button class="manipular">Alterar</button></a>
                        <a href="agenda/deletar/<%= item.id%>"><button class="manipular">Deletar</button></a>
                    </section>
                </ul>
                
                <% }); %> 
                
    </main>
    <%- include('./includes/adminFooter'); %>

</body>
</html>