<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <%- include('./includes/adminHeader'); %>

    <main>
        <section id="add">
          <form id="dados" action="./<%= agenda.id %>" method="POST">       
            <label for="nome"><p>NOME</p></label>
            <article>
                <input type="text" id= "nome" name="nome" value="<%= agenda.nome %>">
            </article>
            <label for="data"><p>DATA</p></label>
            <article>
                <input type="date" id= "data" name="data" value="<%= agenda.data %>">
            </article>
            <label for="hora"><p>HORA</p></label>
            <article>
                <input type="time" id= "hora" name="hora" value="<%= agenda.hora %>">
            </article>
            <label for="valor"><p>VALOR</p></label>
            <article>
                <input type="number" id= "preco" step="0.1" name="preco" value="<%= agenda.preco %>">
            </article>
            

         <button type="submit" id="salvar">Salvar</button>
        </form>
    </section>

    </main>
    <%- include('./includes/adminFooter'); %>

</body>
</html>