<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <%- include('./includes/adminHeader'); %>

    <main>
        <h1>Caixa</h1>
         
            <ul id="detalhes">
                <section id="dados">
                    PERÍODO:<span><%= dataI %></span>
                    A <span><%= dataF %></span>
                    TOTAL GANHO:<span><%= entrada %></span>
                    TOTAL GASTO:<span><%= saida %></span>
                    LUCRO:<span><%= entrada - saida %></span>               
                </section>
                
            </ul>
            
            
            
                
    </main>
    <%- include('./includes/adminFooter'); %>

</body>
</html>