<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body id="inicio">
    <header> 
        <section id="logo">
            <a href="/admin">
            <img id="logoImg" src="../../public/images/Lisa.png" class="img">
            </a>
        </section>
        <nav>
            <ul class="menu"> <li><a href='#'>MENU</a>
                <ul>
                    <li><a href="produto">Produtos</a></li>
                    <li><a href="produto/add">Novo Produto</a></li>
                    <li><a href="servicos">Serviços</a></li>
                    <li><a href="servicos/add">Novo Serviço</a></li>
                    <li><a href="agenda">Agenda</a></li>
                    <li><a href="agenda/add">Agendamento</a></li>
                    <li><a href="caixa">Caixa</a></li>
                </ul>
                </li>
            </ul>
        </nav>
    </header>
        <h1 id="msg">DEUS SEJA LOUVADO</h1>

    <main id="inicioMain">

        <section id="msgs">
            <section id="msgp">
            <h3>Produtos perto do vencimento</h3>
        <% produtos.forEach(item => { %> 
            <ul id="detalhes">
                <section id="dadosAdmin">
                    Nome:<span><%= item.nome %></span> 
                    Data de validade:<span><%= item.data %></span>
                    Estoque:<span><%= item.estoque %></span>
                    </section>
            </ul>
        <% }); %> 
            </section>
        </section>

        <section id="msgs">
            <section id="msga">
            <h3>Agendas de hoje</h3>

                <% agendas.forEach(item => { %> 
                    <ul id="detalhes">
                        <section id="dadosAdmin">
                            
                            Nome:<span><%= item.nome %></span> 
                            Data:<span><%= item.data %></span>
                            HORA:<span><%= item.hora %></span>
                            VALOR:<span><%= item.preco %></span>
                            PROCEDIMENTO:<span><%= item.procedimento %></span>
                        
                        </section>
                        
                    </ul>
                    
                    <% }); %> 
                </section>
        </section>
    </main>
    <footer>
        <section id="footerImg">
        <img id="footer" src="../../public/images/Lisa.png" class="img">
        </section>
        <section id="footerNav">
            <a href="admin">Início</a>
            <a href="produto">Produtos</a>
            <a href="produto/add">Novo Produto</a>
            <a href="servicos">Serviços</a>
            <a href="servicos/add">Novo Serviço</a>
            <a href="agenda">Agenda</a>
            <a href="agenda/add">Agendamento</a>
            <a href="caixa">Caixa</a>
        </section>
        <section id="end">
            <h4>Endereço</h4>
            <p>Rua Umbuzeiro, 54</p>
            <p>Alto Floresta</p>
            <p>Montes Claros - MG</p>
        </section>
        <section id="contato">
            <h4>Contato</h4>
            <p><img src="../../public/images/chamada-telefonica.png" id="contatoImg">(38) 98411-3383</p>
            <p><img src="../../public/images/whatsapp.png" id="contatoImg">(38) 98411-3383</p>
            <p><img src="../../public/images/telefone-tipico-antigo.png" id="contatoImg">(38) 3213-2469</p>
            <p><img src="../../public/images/marketing-de-email.png" id="contatoImg">hudson.o.pereira@gmail.com</p>
            <p><img src="../../public/images/instagram.png" id="contatoImg">/lisaribeiro44/</p>
        </section>
    </footer>
    
</body>
</html>