<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body id="inicio">
    <%- include('./includes/adminHeader'); %>

        <h1 id="msg">DEUS SEJA LOUVADO</h1>

    <main id="inicioMain">

        <section id="msgs">
            <section id="msgp">
            <h3>Produtos perto do vencimento</h3>
        <% produtos.forEach(item => { %> 
            <ul id="detalhes">
                <section id="dadosAdmin">
                    Nome:<span><%= item.nome %></span> 
                    Data de validade:<span><%= item.data %></span>
                    Estoque:<span><%= item.estoque %></span>
                    </section>
            </ul>
        <% }); %> 
            </section>
        </section>

        <section id="msgs">
            <section id="msga">
            <h3>Agendas de hoje</h3>

                <% agendas.forEach(item => { %> 
                    <ul id="detalhes">
                        <section id="dadosAdmin">
                            
                            Nome:<span><%= item.nome %></span> 
                            Data:<span><%= item.data %></span>
                            HORA:<span><%= item.hora %></span>
                            VALOR:<span><%= item.preco %></span>
                            PROCEDIMENTO:<span><%= item.procedimento %></span>
                        
                        </section>
                        
                    </ul>
                    
                    <% }); %> 
                </section>
        </section>
    </main>
    <%- include('./includes/adminFooter'); %>

    
</body>
</html>