<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <header> 
        <nav>
        <a href="/"><input type="button" value="Início"></a>
        <a href="produto/add"><input type="button" value="Novo Produto"></a>

        </nav>
        <h1>Espaço Lisa Ribeiro</h1>
    </header>
    <main>

            <% produtos.forEach(item => { %> 
                <ul id="detalhes">
                    <section id="dados">Nome:<span><%= item.nome %></span> 
                        Descrição:<span><%= item.descricao %></span>
                        Valor:<span><%= item.valor %></span>
                        Vendedor:<span><%= item.vendedor%></span>
                        Data de validade:<span><%= item.dia %> / 
                        <%= item.mes %> / 
                        <%= item.ano %></span>
                        Estoque:<span><%= item.estoque %></span>
                    </section>

                </ul>
                <% }); %> 
    </main>


    <script src="/js/script.js"></script>
</body>
</html>