<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head>
<body>
    <header> 
        <nav>
        <a href="/"><button>Início</button></a>
        <a href="produto/add"><button>Novo Produto</button></a>
        <a href="servicos"><button>Serviços</button></a>
        <a href="servicos/add"><button>Novo Serviço</button></a>
        </nav>
        <h1>Lista de Produtos</h1>
    </header>
    <main>

            <% produtos.forEach(item => { %> 
                <ul id="detalhes">
                    <section id="dados">
                        ID:<span><%= item.id %></span>
                        Nome:<span><%= item.nome %></span> 
                        Descrição:<span><%= item.descricao %></span>
                        Valor:<span><%= item.valor %></span>
                        Vendedor:<span><%= item.vendedor%></span>
                        Data de validade:<span><%= item.data %></span>
                        Estoque:<span><%= item.estoque %></span>
                            <section id="mani">
                                <a href="produto/alterar/<%= item.id%>"><button>Alterar</button></a>
                                <a href="produto/deletar/<%= item.id%>"><button>Deletar</button></a>
                            </section>
                    </section>
                    
                </ul>
                
                <% }); %> 
                
    </main>


    <script>
       
    </script>
</body>
</html>