<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Serviços</title>
</head>
<body>
    <%- include('./includes/adminHeader'); %>

    <h1>Serviços</h1>

    <main id="servicoMain">
        <% servicos.forEach(item => { %> 
            <ul id="detalhes">
                <section id="dadosServico">
                    <!-- ID:<span><%= item.id %></span> -->
                    Nome:<span><%= item.nome %></span> 
                    Descrição:<span><%= item.descricao %></span>
                    Valor:<span><%= item.valor %></span>
                    
                        
                </section>
                <section id = "mani">
                    <a href="servicos/alterar/<%= item.id%>"><button>Alterar</button></a>
                    <a href="servicos/deletar/<%= item.id%>"><button>Deletar</button></a>
                </section>
                
            </ul>
            
            <% }); %> 
            
</main>
<%- include('./includes/adminFooter'); %>

</body>
</html>