<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css"">

    <title>Serviços</title>
</head>
<body>
    <header> 
        <nav>
        <a href="/"><input type="button" value="Inicio"></a>
        <a href="/produto"><input type="button" value="Produtos"></a>
        <a href="produto/add"><input type="button" value="Novo Produto"></a>
        <a href="servicos/add"><input type="button" value="Novo Serviço"></a>
        </nav>
        <h1>Lista de Serviços</h1>

    </header>
    <main>

        <% servicos.forEach(item => { %> 
            <ul id="detalhes">
                <section id="dados">
                    ID:<span><%= item.id %></span>
                    Nome:<span><%= item.nome %></span> 
                    Descrição:<span><%= item.descricao %></span>
                    Valor:<span><%= item.valor %></span>
                    Produtos:<span><%= item.produto %></span>
                                   
                        <a href="servico/alterar/<%= item.id%>"><button>Alterar</button></a>
                        <a href="servico/deletar/<%= item.id%>"><button>Deletar</button></a>
                    
                </section>
                
            </ul>
            
            <% }); %> 
            
</main>
</body>
</html>