
<body>
    <%- include('../includes/clientHeader'); %>
        <section id="divBusca">
            <form action="/cliente/search" method="POST">
                <input type="date" id="txtBusca" name="search" placeholder="Buscar..." />
                <button type="submit" id="search"><img src="/public/images/icons8-pesquisar-sf-black-16.png" id="btnBusca"
                        alt="Buscar" /></button>
                </form>
        </section>
<main class="agenda">
    <h1>Agendamentos</h1>

    <% agenda.forEach(item=> { %>
    <section id="dados">
        <div id="detalhes">
            <div id="dadosAgenda">
                <div><%= item.nome %></div>
                <div><%= item.data %></div>
                <div><%= item.hora %></div>
            </div>
        </div>
    </section>
    <% }); %>

</main>

    <%- include('../includes/clientFooter'); %>
</body>
</html>