<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">

    <title>Espaço Lisa Ribeiro</title>
</head> -->
<body>
    <%- include('../includes/clientHeader'); %>
    <main>
        <h1>Conheça nossos serviços</h1>
        
        <section id="infos">
            <% if(servicos){ %> 
            <section id="info">
                <% servicos.forEach(item => { %> 
                
                        <h3><%= item.nome %></h3>
                        <img src="<%= item.imagem %>" class="img"> 
                        <p><%= item.descricao %></p>
                    
                
                <% }); %> 
            </section>
            <% }; %>
             <!-- <section id="info">
                <h3>Microagulhamento Capilar</h3>
            <img src="../../public/images/micro.jpg" class="img">
            <p>O microagulhamento capilar é um tipo de tratamento dermatológico de estética capilar que atrai muitas pessoas para as clínicas de estética. 
                A técnica, que também é conhecida como agulhamento de pele, atua aumentando a produção de colágeno na cabeça, amenizando os efeitos do envelhecimento na região.</p> 
            </section>
        
            <section id="info">
                <h3>Liberação Miofascial</h3>
            <img src="../../public/images/terceira.jpg" class="img">
            <p>A Liberação Miofascial trabalha na liberação da fáscia, ou seja, tecido cognitivo que recobre a musculatura do corpo. Este tecido tensionado é liberado com instrumentos utilizados pelo fisioterapeuta que fazem com que o músculo aumente a amplitude, voltando a normalidade. A ventosa atua sobre os pontos gatilhos da dor.</p>
            </section>

            <section id="info">
                <h3>Pump Up</h3>
            <img src="../../public/images/quarta.jpeg" class="img">
            <p>Também conhecido como “técnica empina bumbum”, o Pump Up é um procedimento realizado para melhorar a aparência geral dos glúteos. O método utiliza ventosas que se adaptam ao corpo, e quando estão em contato com a pele, liberam uma pressão pulsada, estimulando a produção de colágeno e tornando a região mais firme.</p>
            </section> -->

            <!-- <section id="info">
                <h3>Lorem ipsum</h3>
            <img src="../../public/images/1antes.jpg" class="img">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum nec augue commodo suscipit. 
                    Suspendisse potenti. Vestibulum tempor arcu nisl, sit amet interdum neque volutpat nec. Pellentesque mollis massa lectus, at feugiat ligula viverra non. 
            </section>

            <section id="info">
                <h3>Lorem ipsum</h3>
            <img src="../../public/images/1antes.jpg" class="img">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum nec augue commodo suscipit. 
                    Suspendisse potenti. Vestibulum tempor arcu nisl, sit amet interdum neque volutpat nec. Pellentesque mollis massa lectus, at feugiat ligula viverra non. 
            </section> -->
        </section>
    </main>

    <%- include('../includes/clientFooter'); %>
    
</body>
</html>